@charset "utf-8";
/* html styles */
html{
    background-image: linear-gradient(rgb(189, 0, 0), rgb(220, 220, 220));
    color: rgb(200, 200, 200);
}

/* header styles */
header h1, h2{
    text-align: center;
    color: rgb(200, 200, 200);
    font-family: 'Yeon Sung', cursive;
}
header h1{
    font-size: 90pt;
    margin-bottom: 100px;
}
header h2{
    font-size: 68pt;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 150px;
}
header{
    padding-top: 150px;
    padding-bottom: 120px;
}

/* body styles */
body{
    background-image: linear-gradient(grey, 
                                      rgb(36, 36, 36),
                                      black);
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: rgba( 0, 0, 0, .6) 0px 0px 20px 20px;
}
body:after{
    clear: both;
    content: "";
    display: table;
}

/* nav styles */
nav ul li{
    background-color: rgb(32, 23, 109);
    color: rgb(32, 23, 109);
}
nav ul li{
    list-style-type: none;
    float: left;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 25.7px;
}
a{
    font-size: 16pt;
}
a:link, a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(255, 120, 120);
}

/* nav position styles */
a.change{
    position: absolute;
}
a#about{
    top: 635px;
}
a#interests{
    top: 635px;
    left: 340px;
}
a#exp{
    top: 635px;
    left: 500px;
}
a#html{
    top: 635px;
    left: 685px;
}
a#css{
    top: 635px;
    left: 835px;
}
a#js{
    top: 635px;
    left: 980px;
}
a#past{
    top: 635px;
    left: 1100px;
}

section.pictures{
    position: absolute;
    top: 800px;
    right: 400px;
}


/* article styles */
article{
    float: left;
    width: 50%;
    margin-left: 30px;
    background-color: rgba(77, 57, 255, 0.322);
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.575) 0px 0px 20px 10px;
}
p#help{
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

article div.info>p{
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    overflow: auto;
    width: 500px;
    height: 300px;
    line-height: 30px;
    font-size: 14pt;
}

/* transition styles */
div.info{
    display: none;
}
a.change:target+div.info{
    display: block;
}

/* image styles */
section{
    /* position: absolute;
    top: 200px;
    left: 900px; */
    clear: right;
    float: left;
}

/* aside styles */
aside{
    float: right;
    clear: left;
    width: 40%;
    margin-top: 50px;
    margin-right: 30px;
    margin-bottom: 50px;
    background-color: rgba(77, 57, 255, 0.322);
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.575) 0px 0px 20px 10px;
}
aside p{
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
}

/* footer styles */
footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    clear: both;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(22, 0, 223, 0.356)
}