@charset "utf-8";

/* html styles */
html{
    background-image: linear-gradient(rgb(189, 0, 0), rgb(220, 220, 220));
    color: rgb(200, 200, 200);
}

/* header styles */
header h1, h2{
    text-align: center;
    color: rgb(200, 200, 200);
}
header h1{
    font-size: 72pt;
    font-family: fantasy, 'Times New Roman', Times, serif;
    
}
header h2{
    font-size: 68pt;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 100px;
}
header{
    padding-top: 200px;
    padding-bottom: 200px;
}

/* body styles */
body{
    background-color: black;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: rgba( 0, 0, 0, .6) 0px 0px 20px 20px;
}
body:after{
    clear: both;
    content: "";
    display: table;
}

/* nav styles */
nav ul li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}
a{
    text-decoration: none;
    color: rgb(200, 200, 200);
}
a:hover{
    background-color: rgb(189, 0, 0);
}

/* article styles */
article{
    float: left;
    width: 50%;
    margin-left: 30px;
    background-color: rgba(22, 0, 223, 0.365);
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.575) 0px 0px 20px 10px;
}
article p{
    margin-right: 20px;
    margin-left: 20px;
}
article p#exp{
    display: none;
}
article p#interests{
    display: none;
}
article p#html{
    display: none;
}
article p#css{
    display: none;
}
article p#js{
    display: none;
}
article p#past{
    display: none;
}
article p#contact{
    display: none;
}

/* image styles */
section{
    /* position: absolute;
    top: 200px;
    left: 900px; */
    float: right;
}

/* aside styles */
aside{
    float: right;
    width: 50%;
    margin-top: 100px;
    margin-left: 30px;
}

/* footer styles */
footer{
    clear: both;
    text-align: center;
    background-color: rgba(22, 0, 223, 0.356)
}